# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
data/players_list_xml_foa.xml
data/openings.xml
server/monitor/monitor.exe
data/**.* 
data/twic/DCA.PGN
data/twic/TWIC151.PGN
data/twic/TWIC152.PGN
data/twic/TWIC153.PGN
data/twic/TWIC154.PGN
data/twic/TWIC155.PGN
data/twic/TWIC156.PGN
data/twic/TWIC157.PGN
data/twic/TWIC158.PGN
data/twic/TWIC159.PGN
data/twic/twic947.pgn
data/twic/twic948.pgn
data/twic/twic949.pgn
data/twic/twic950.pgn
data/twic/twic951.pgn
data/twic/twic952.pgn
data/twic/twic953.pgn
data/twic/twic954.pgn
data/twic/twic955.pgn
data/twic/twic956.pgn
data/twic/twic957.pgn
data/twic/twic958.pgn
data/twic/twic959.pgn
data/twic/twic960.pgn
data/twic/twic961.pgn
data/twic/twic962.pgn
data/twic/twic963.pgn
data/twic/twic964.pgn
data/twic/twic965.pgn
data/twic/twic966.pgn
data/twic/twic967.pgn
data/twic/twic968.pgn
data/twic/twic969.pgn
data/twic/twic970.pgn
data/twic/twic971.pgn
data/twic/twic972.pgn
data/twic/twic973.pgn
data/twic/twic974.pgn
data/twic/twic975.pgn
data/twic/twic976.pgn
data/twic/twic977.pgn
data/twic/twic978.pgn
data/twic/twic979.pgn
data/twic/twic980.pgn
data/twic/twic981.pgn
data/twic/twic982.pgn
data/twic/twic983.pgn
data/twic/twic984.pgn
data/twic/twic985.pgn
data/twic/twic986.pgn
data/twic/twic987.pgn
data/twic/twic988.pgn
data/twic/twic989.pgn
data/twic/twic990.pgn
data/twic/twic991.pgn
data/twic/twic992.pgn
data/twic/twic993.pgn
data/twic/twic994.pgn
data/twic/twic995.pgn
data/twic/twic996.pgn
data/twic/twic997.pgn
data/twic/twic998.pgn
data/twic/twic999.pgn
