<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:fragment="status">
    <div th:if="${(navigation.applicationBean.isAllowedFeature('STATUS'))}">
        <div class="status_info" id="status_info"></div>
        <div class="bottom-left" id="error">
            <span th:if="${navigation.serverError != null}" th:text="${navigation.serverError}"></span>

        </div>
        <div class="bottom-right" id="message">
            <span th:if="${navigation.serverMessage != null}" th:text="${navigation.serverMessage}"></span>

        </div>
    </div>
</div>
<footer th:fragment="footer">
    <div th:if="${(navigation.applicationBean.isAllowedFeature('FOOTER'))}">
        <h1 th:text="#{pieddepage}"></h1>
    </div>
</footer>
</body>
</html>