
        a:link {
            text-decoration: none;
            text-color: blue;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }

        .bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .bottom-left {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: red;

        }

.status_info {
color: orange;
font-weight: bold;
}

tr.selected {
        background-color: #e92929 !important;
        color: #fff;
        vertical-align: middle;
        padding: 1.5em;
    }