<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="adminstat">



    <div class="container">

        <div class="row">
            <div class="col-9">
                <div class="starter-template">
                    <!-- graph
                       -->


                    <div>
                        <canvas id="myChartCallStat"></canvas>
                    </div>


<table>
    <tr>
        <td>
            <div id="checkStatElement">
                <table class="table table-striped" id="callStatNameTable">

                    <tbody></tbody>
                </table>
            </div>
            </td>
        <td>
            <table class="table table-striped" id="callStatPeriod">

                <tbody>
                <tr>
                    <td>
                    <p th:text="#{stat.periodeGraph}" ></p>
                    <input type="radio" name="periodeGraph" onclick="changeToPeriodeMonth()"  value="Bar"><p th:text="#{duration.month}" ></p><br>
                    <input type="radio" name="periodeGraph" onclick="changeToPeriodeTrimester()" value="Pie"><p th:text="#{duration.quarter}" ></p><br>
                    <input type="radio" name="periodeGraph" onclick="changeToPeriodeYear()" checked  value="Pie"><p th:text="#{duration.year}" ></p><br>
                    </td>
                    <td>
                        <p th:text="#{stat.graphtype}" ></p>
                        <input type="radio" name="typeGraph" onclick="changeToBar()" checked value="Bar">Bar<br>
                        <input type="radio" name="typeGraph" onclick="changeToPie()" value="Pie">Pie<br>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            TODO mettre un bouton update data
        </td>
        <td>
            <button th:id="clearStat"><img src="images/icons/trash.png"
                                                                      style="width:20px;height:20px;"
                                                                      th:alt="#{stat.clear}"></button>

        </td>
    </tr>
</table>



<script>
                 const ctx = document.getElementById('myChartCallStat');
                 var chartCfg = {
                     type: 'bar',

                     options: {
                         scales: {
                             y: {
                                 beginAtZero: true
                             }
                         }
                     }
                 };


         var myChart = new Chart(ctx, chartCfg);

         var dictCount = {};
         var dictDate = {};
         var callStatData = "";

         var globalCurrentStatPeriod=12
         var globalCurrentStatTitle='last year'

         function updateCallStatGlobal(){
                // TODO doit gerer le decochange du all si la valeur locale est decochee

                chartCfg.data =  extractDataForAPeriod(globalCurrentStatPeriod,globalCurrentStatTitle);
                 myChart.update();
         }

        function getAllSelectedCallStat(){
            var category_id = [];

            $.each($("input[name='callStatName']:checked"), function(){
                category_id.push($(this).val());
            });
            return category_id;
        }
        function onCallStatCheckAll(bx, divid){
            checkUcheckAll(bx, divid)
            updateCallStatGlobal();
        }

        function manageCallStat() {
         data = JSON.parse(callStatData);
         for (let i = 0; i < data.length; i++) {
             if (!(data[i].name in dictCount)) {
                 dictCount[data[i].name] = 0;
             }
             dictCount[data[i].name] = dictCount[data[i].name] + 1;

         var keydate = formatDate(new Date(data[i].timestamp) + "")
         if (!(keydate in dictDate)) {
             dictDate[keydate] = "";
         }
         dictDate[keydate] = dictDate[keydate] + data[i].name + ',';
         }
         var tr_strAll = "<tr>" +
                 "<td align='center'></td>" +
                 "<td align='center'>ALL</td>" +
                 "<td align='center'><input type='checkbox' checked onclick='javascript:onCallStatCheckAll(this, \"checkStatElement\");' /> </td>" +
                 "</tr>";
                 $("#callStatNameTable tbody").append(tr_strAll);

                 for (var key in dictCount) {
                         var tr_str = "<tr>" +
                         "<td align='center'>" + key + "</td>" +
                         "<td align='center'>" + dictCount[key] + "</td>" +
                         "<td align='center'><input type='checkbox' checked name='callStatName' value='"+key+"'  onclick='javascript:updateCallStatGlobal()' /> </td>" +
                         "</tr>";
                         $("#callStatNameTable tbody").append(tr_str);
                 }
 }
  function changeToPeriodeMonth() {
     globalCurrentStatPeriod=1
     globalCurrentStatTitle=" one month"
     updateCallStatGlobal()
 }

 function changeToPeriodeTrimester() {
       globalCurrentStatPeriod=3
     globalCurrentStatTitle=" a quarter"
     updateCallStatGlobal()
 }

 function changeToPeriodeYear() {
     globalCurrentStatPeriod=12
     globalCurrentStatTitle=" last year"
     updateCallStatGlobal()
 }
function changeToPie() {
    chartCfg.type = "pie";
    updateCallStatGlobal();

 }

 function changeToBar() {
     chartCfg.type = "bar";
    updateCallStatGlobal();
 }
 function extractDataForAPeriod(nbMonth,title){
        globalCurrentStatPeriod=nbMonth
           globalCurrentStatTitle=title

    var d = new Date();
    d.setMonth(d.getMonth() - nbMonth);
    var dictCount2 = {};
     for (var key in dictDate) {
         if (new Date(key)>d){
               vv=dictDate[key]
               const myArray = vv.split(",");
               for (var a in myArray){
                      if (myArray[a].trim().length==0) continue;
                       if (!(myArray[a] in dictCount2)) {
                            dictCount2[myArray[a]] = 0;
                         }
                         dictCount2[myArray[a]] = dictCount2[myArray[a]] + 1;
                }
         }
     }
     allSelectedCallStat=getAllSelectedCallStat();

     labs=[]
     datas=[]
     for (var key in dictCount2) {

         if (allSelectedCallStat.includes(key)){
            labs.push(key);
            datas.push(dictCount2[key]);
         }
     }

      var datachart = {
         labels:labs,
         datasets: [{
             label: title,
             data: datas,
             borderWidth: 1
         }]
     };

     return datachart;

 }


 function loadStat() {
     $.ajax({
         url: '/adminStat',
         type: 'get',
         dataType: 'JSON',
         success: function(response) {
             callStatData = response;
             manageCallStat();
             changeToPeriodeYear()
         }
     });
 }
 $(document).ready(function() {
     loadStat();
 });


     $('#clearStat').on('click',
                             function() {

                                    $.ajax({
                                            url: '/adminStatClear',
                                            type: 'delete',
                                            dataType: 'JSON',
                                            success: function(response){
                                                    console.log("delete stat  "+response);
                                                      loadStat();
                                                      // todo ne rafraichit pas la page
                                            }
                                        });

                                      }
                                    );
</script>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>