<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="login">
    <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
       id="loginLink"
       th:text="#{login.connect}"></a>
    <div id="loginDiv">

        <form action="/login" class="form-example" method="POST">
            <div class="form-group">
                <label for="name" th:text="#{login.name}"></label>
                <input class="form-control" name="login" type="text">
            </div>
            <div class="form-group">
                <label for="password" th:text="#{login.password}"></label>
                <input class="form-control" name="password" type="password">
            </div>
            <button th:text="#{login.connect}" type="submit"></button>
        </form>

    </div>
    <script>
        $("#loginLink").click(function (e) {
                $("#loginLink").hide();
                $("#loginDiv").show();
        });
          $(document).ready(function () {
           $("#loginDiv").hide();

       });


    </script>

</div>
<div th:fragment="welcome">

    <span th:text="#{login.welcome}"></span>
    <span th:text="${navigation.userDto.name}"></span>

</div>
</body>
</html>